@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  font-size: 120%;
  background-image: url("../Images/cloud.jpg");
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #000000d8;
  padding: 0 15px;
  border-color: #00000000;
  border-radius: 30px;
  border-style: solid;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000d8;
  color: white;
  padding: 2em;
  border-radius: 30px;
  min-width: 280px;
  max-width: 600px;
  margin: 1em;
  height: 340px;
}

.card {
  background: #000000d8;
  color: white;
  padding: 2em;
  border-radius: 30px;
  min-width: 260px;
  max-width: 600px;
  margin: 1em;
  height: 340px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #6b6b6b2b;
}

.input-search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

h1.temp {
  margin: 0;
}

.description {
  text-transform: capitalize;
}

.locationPic {
  height: 281.25px;
  width: 500px;
  background-image: url(https://source.unsplash.com/1920x1080/?vaxholm);
  background-position: center;
  background-size: contain;
  border-radius: 24px;
}

/* Famous_Cities specific css*/

.famousCities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.famousCity {
  background: #000000d8;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  margin: 1em;
  height: 340px;
}

.flexboxElements {
  display: flex;
  flex-direction: row;
}

.login {
  color: white;
  background: #000000d8;
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 50px;
  height: 300px;
}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .head .company {
  font-size: 2.2em;
}
.login .msg {
  text-align: center;
}
.login .form input[type="text"].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
}
.login .form .text::placeholder {
  color: #d3d3d3;
}
.login .form input[type="password"].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login .form .password::placeholder {
  color: #d3d3d3;
}
.login .form .btn-login {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}
.login .form .btn-login:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
.login .forgot {
  text-decoration: none;
  color: white;
  float: right;
}

footer {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
  width: 100vw;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  height: 450px;
  padding: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}

textarea {
  background: #000000d8;
  width: 894px;
  height: 110px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

select {
  width: 960px;
  height: 48px;
  line-height: 1.5;
  font-size: 1.4em;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px;
  color: #fff;
  display: block;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nameinput,
.emailinput {
  width: 894px;
  height: 48px;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.nameinput {
  background: #000000d8;
  padding-left: 45px;
}

input.emailinput {
  background: #000000d8;
  padding-left: 45px;
}

input.message {
  background: #000000d8;
  padding-left: 45px;
}

select.indent {
  padding-left: 45px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.btn {
  border: none;
  font-size: 18px;
  width: 200px;
  height: 48px;
  color: #000;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  outline: none;

  border-radius: 24px;
  float: right;
  margin-right: 6px;
}

.btn:hover {
  background: #fff;
  outline: none;
  box-shadow: 0 4px #cecece;
  top: 2px;
}

.btn:active {
  background: #fff;
  outline: none;
  box-shadow: 0 0 #cecece;
  top: 6px;
}

.flat {
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.flat:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: -100px;
}

table caption {
  font-size: 2em;
  margin: 0.5em 0 0.75em;
  color: white;
}

table tr {
  background-color: #000000d8;
  color: white;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.row_grey {
  background-color: #404040d8;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    margin-top: 350px;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  #table_footer {
    bottom: -550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1035px) {
  form {
    width: 736px !important;
  }
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Subject.flat
    > select,
  #form_div_id\20 formwrap > form > p > span.form-control-wrap.Subject.flat {
    width: 731px !important;
  }
  .nameinput,
  .emailinput,
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Message
    > textarea {
    width: 666px !important;
  }
}

@media only screen and (max-width: 804px) {
  h1 {
    font-size: 50px;
  }
  form {
    width: 450px !important;
  }
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Subject.flat
    > select,
  #form_div_id\20 formwrap > form > p > span.form-control-wrap.Subject.flat {
    width: 445px !important;
  }
  .nameinput,
  .emailinput,
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Message
    > textarea {
    width: 380px !important;
  }
}

@media only screen and (max-width: 517px) {
  h1 {
    font-size: 30px;
  }
  form {
    width: 295px !important;
  }
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Subject.flat
    > select,
  #form_div_id\20 formwrap > form > p > span.form-control-wrap.Subject.flat {
    width: 290px !important;
  }
  .nameinput,
  .emailinput,
  #form_div_id\20
    formwrap
    > form
    > p
    > span.form-control-wrap.Message
    > textarea {
    width: 225px !important;
  }
  .btn {
    width: 110px;
  }
}

@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #ffffff;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 30px;
    color: #000;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #ffffff solid;
    color: white;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

@media screen and (max-width: 1050px) {
  .flexboxElements {
    flex-direction: column;
  }
  .famousCities {
    flex-direction: column;
  }

  .city1 {
    margin-top: 600px;
  }

  .famousCity {
    height: 320px;
  }

  footer {
    bottom: -350px;
  }

  .famous-cities-footer {
    bottom: -700px;
  }

  .pic {
    margin-top: 300px;
  }

  #index_footer {
    bottom: -400px;
  }

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .locationPic {
    min-width: 280px;
    max-width: 300px;
    min-height: 156.5px;
    max-height: 168.75px;
  }
  .pic {
    height: 250px;
    min-width: 300px;
  }
}

@media (max-width: 450px) {
  .locationPic {
    min-width: 240px;
    max-width: 260px;
    min-height: 135px;
    max-height: 146.25px;
  }
  .card {
    height: 400px;
  }
  form {
    width: 250px;
  }
}
